.dark-blue {
    background-color: #0d1b2a !important;
    color: #f8f5f2 !important;
}

.btn-gold {
    background-color: #c5a059;
    color: white;
    border: none;
}

.btn-gold:hover {
    background-color: #b08d4b;
    color: white;
}

.text-warning {
    color: #c5a059 !important;
}

/* Styl dla inputów z ikonami */
.input-group-text {
    border-color: #dee2e6;
}

.form-control:focus {
    border-color: #c5a059;
    box-shadow: none;
    /* Lub delikatny cień: box-shadow: 0 0 0 0.25rem rgba(197, 160, 89, 0.25); */
}

.form-control:focus+.input-group-text {
    border-color: #c5a059;
}